<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Desarrolladora Agroindustrial de Occidente SA de CV  Av. Universidad No 1377 interior 102 Colonia aXotla, Delegacion Alvaro Obregón, México DF CP 01030  Tel: 55 2628 0049</p>
                </div>
            </div>
        </div>
    </footer>